$mainColor: #dcdbdb;
$backgroundColor: #f4f7f5;
$firstContrastColor: #262525;
$secondContrastColor: #575a5e;
$thirdContrastColor: #a7a2a9;
$buttonColor: #d0afd5;
$buttonContrastColor: #bfb1c1;
$logoFont: "Pinyon Script", cursive;
$titleFont: "Roboto", sans-serif;
$normalFont: "Montserrat", sans-serif;
